.stats {
  display: flex;
  justify-content: center;
  height: 100px;
  border-top: 1px solid lightgrey;
  border-radius: 0 0 4px 4px;
  font-family: Roboto Condensed, sans-serif;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    padding: 25px 0;
    background-color: honeydew;

    &:not(:last-child) {
      border-right: 1px solid lightgrey;
    }
  }

  .label {
    font-size: 17px;
    color: rgb(160, 156, 156);
    margin-bottom: 10px;
  }

  .quantity {
    font-size: 20px;
    font-weight: 500;
    color: rgb(55, 56, 58);
  }
}
